body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #0056b3;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title {
    flex-grow: 1;
    text-align: left;
}

.header .buttons {
    flex-grow: 1;
    text-align: right;
}

.header .buttons button {
    background-color: white;
    color: #0056b3;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.header .buttons button:hover {
    background-color: #e0e0e0;
}

.content {
    padding: 20px;
    text-align: center;
}

.public-user-text {
    color: red;
}

.packages {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.package {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    width: 150px;
}
